<%# test  %>
<h1>Ask</h1>

<form action="/answer" method="get" class="form-example">

  <div>
    <label for="text">Enter your text: </label>
    <input type="text" name="answer" placeholder="Tell me something">
  </div>
</form>
